[submodule "testdata/ValidProject"]
	path = testdata/ValidProject
	url = https://github.com/DeNA/unity-meta-check-ValidProject
[submodule "testdata/InvalidProject"]
	path = testdata/InvalidProject
	url = https://github.com/DeNA/unity-meta-check-InvalidProject
